@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/agustina");
body {
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 576px) {
  body {
    min-width: 100vw;
    overflow-x: hidden;
  }
}
